h1{
    text-align: center;
    border-color: rgb(255, 255, 255);
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: #fff; 
    text-shadow: 3px 0 rgb(38, 10, 197), 0 2px 
    rgb(51, 172, 219), 1px 0 rgb(51, 172, 219), 0 -1px rgb(51, 172, 219);
    color: rgb(255, 255, 255);
    
}
img{
    
    border: 2px solid #ddd;
    display: block;
    opacity: 0.5;
    display: block;
    
}
